<!-- rides/templates/rides/my_ride_list.html -->

<!-- templates/rides/ride_list.html -->
{% extends 'base.html' %}
{% block title %}Open Ride List{% endblock %}

{% block content %}
<!-- Toggle  -->
<button class="btn btn-secondary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#toggleSearch">
  Expend (collapse)
</button>


<div class="collapse show mb-3" id="toggleSearch">
  <div class="card card-body">
    <form method="get" class="row g-3">
      <div class="col-auto">
        <label for="status" class="visually-hidden">Status</label>
        <select class="form-select" name="status" id="status">
          <option value="">All</option>
          {% for key, value in ride_status_choices %}
            <option value="{{ key }}" {% if request.GET.status == key %}selected{% endif %}>{{ value }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Search</button>
      </div>
    </form>
  </div>
</div>
<h2>My Rides</h2>
{% if rides_list %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Destination</th>
        <th>Scheduled Time</th>
        <th>Owner</th>
        <th>Status</th>
        <th>Capacity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for ride in rides_list %}
      <tr>
        <td>{{ ride.id }}</td>
        <td>{{ ride.destination }}</td>
        <td>{{ ride.scheduled_datetime|date:"Y-m-d H:i" }}</td>
        <td>{{ ride.owner.name }}</td>
        <td>{{ ride.get_status_display }}</td>
        <td>
          {% if ride.owner == request.user.userprofile %}
            Owner
          {% elif ride.driver and ride.driver == request.user.driverprofile %}
            Driver
          {% else %}
            Sharer
          {% endif %}
        </td>
        <td>
          <a href="{% url 'rides:ride-detail' ride.id %}" class="btn btn-sm btn-info">Detail</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No open rides found.</p>
{% endif %}
{% endblock %}
