<!-- rides/templates/rides/ride_create.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  select option[value=""] {
    color: #999;
    font-style: italic;
  }
</style>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2>Create New Ride</h2>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div>
                    <button type="submit" class="btn btn-primary">Create</button>
                    <a href="{% url 'rides:ride-list' %}" class="btn btn-secondary">Cancel</a>
                </div>

            </form>
        </div>
    </div>
</div>


<script>
function toggleOtherVehicle() {
    const vehicleType = document.getElementById('vehicleType').value;
    const otherField = document.getElementById('otherVehicleType');

    if (vehicleType === 'OTHER') {
        otherField.parentElement.style.display = 'block';
        otherField.style.display = 'block';
        otherField.required = true;
    } else {
        otherField.parentElement.style.display = 'none';
        otherField.style.display = 'none';
<!--        otherField.required = false;-->
    }
}
document.addEventListener('DOMContentLoaded', toggleOtherVehicle);
</script>
{% endblock %}