{% extends 'base.html' %}
{% block title %}Ride Detail{% endblock %}
{% block content %}

<h2>Ride #{{ ride.id }} - {{ ride.get_status_display }}</h2>
<div class="card">
  <div class="card-body">
    <p><strong>Destination:</strong> {{ ride.destination }}</p>
    <p><strong>Scheduled Time:</strong> {{ ride.scheduled_datetime|date:"Y-m-d H:i" }}</p>
    <p><strong>Owner:</strong> {{ ride.owner.name }}</p>
    <p><strong>Passengers (Owner):</strong> {{ ride.owner_passengers }}</p>
    <p><strong>Can Shared:</strong> {{ ride.can_shared }}</p>
    <p><strong>Special Request:</strong> {{ ride.special_request }}</p>
    {% if ride.vehicle_type_request %}
        <p><strong>Vehicle Type Request:</strong> {{ ride.vehicle_type_request }}</p>
    {% else %}
        <p><strong>Vehicle Type Request:</strong> None</p>
    {% endif %}



    {% if ride.driver %}
      <p><strong>Driver:</strong> {{ ride.driver.driver.username }} (capacity: {{ ride.driver.maxPassengers }}, License Plate: {{ ride.driver.licensePlate}})</p>
    {% else %}
      <p><strong>Driver:</strong> No driver claim this ride yet </p>
    {% endif %}

    {% if ride.status == 'OPEN' %}
      <div class="action-buttons">
        {% if user.is_authenticated %}
          {% if user.userprofile.is_driver %}
            <form method="post" action="{% url 'rides:driver_claim_ride' ride.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Claim</button>
            </form>

          {% elif user != ride.owner.user and not has_joined %}
            <form method="post" action="{% url 'rides:ride-join' ride.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Join</button>
            </form>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}


    <div style="margin-top: 20px;">
      <a href="{% url 'rides:ride-list' %}" class="btn btn-primary wide-btn">Back</a>
    </div>

  </div>
</div>

<h3 class="mt-4">Sharers</h3>
<ul class="list-group">
  {% for share in ride.ride_share.all %}
    <li class="list-group-item">
      {{ share.sharer.name }} (Party Size: {{ share.passenger }})
    </li>
  {% empty %}
    <li class="list-group-item">No Sharers yet.</li>
  {% endfor %}
</ul>


{% endblock %}
